.Product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Stock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}